@{
}
@model DepartmentVM
<form asp-action="Edit" method="post">
    <div class="hidden">
        <label asp-for="ID" class="visually-hidden"></label>
        <div class="visually-hidden">
            <input asp-for="ID" class="form-control" value="@Model.ID">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" value="@Model.Name">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" value="@Model.Title">
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Head" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Head" class="form-control" value="@Model.Head">
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Edit</button>
</form>
